
  .list-pokemon{
    align-items: center;
    align-content: center;
  }
  .item-pokemon{
    width: 150px;
    margin-bottom: 20px;
  }

  @media (max-width: 575.98px) {
    .item-pokemon{
      width: 125px;
    }
   }