
<div class="container he100">
  <div class="row he100 row-center">
    
    <div class="card" style="width: 18rem;" *ngIf="(poke$ | async) as poke">
        <img class="card-img-top" [src]=" poke.sprites.front_default" [alt]="poke.name">
        <div class="card-body">
          <h3 class=" text-center card-title text-capitalize">{{ poke.name }}</h3>
          <h6 class=" text-center card-subtitle mb-2 text-muted"> Nº{{ poke.id }}</h6>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <ul class="list-group list-group-flush">
              <li class="list-group-item">Altura: {{ poke.height }}</li>
              <li class="list-group-item">Base Experience: {{ poke.base_experience }} </li>
              <li class="list-group-item">Peso: {{ poke.weight }}  </li>
              <li class="list-group-item">Capturados: {{ getCapturados(poke.name) }}  </li>
            </ul>
            <div class=" card-body card-body-btn">
                <a [routerLink]="['/pokemon']" class="card-link">Voltar</a>
                <button type="button" class="btn btn-primary" (click)="setCookies(poke.name)">Capturar!</button>
                <!-- <a ><i class="fa fa-plus-square fa-1x" ></i></a> -->
                
            </div>  
        </div>
      </div>
  </div>
</div>
